#@{heatmap_id}_heatmap_group {
	padding-bottom: 10px;
}

#@{heatmap_id}_heatmap_group {
	padding-right: 10px;
}
#@{heatmap_id}_heatmap_resize {
	position:relative;
	border: 1px solid #ddd;
	border-radius: 0.375rem;
	text-align:center;
}

#@{heatmap_id}_heatmap {
	display: block;
	margin: auto;
}

#@{heatmap_id}_heatmap_control .ui-icon, 
#@{heatmap_id}_heatmap_control .ui-widget-content .ui-icon {
    
}

#@{heatmap_id}_heatmap_control .tab-content {
	padding: 1em 1.4em;
	border: 1px solid #ddd;
	border-radius: .375rem;
}

#@{heatmap_id}_heatmap_control .tabbable {
	margin-top: 4px;
}

#@{heatmap_id}_heatmap_control ul {
	border-bottom: 0px;
}

#@{heatmap_id}_heatmap_control ul li {
	margin-bottom: 0px;
}

#@{heatmap_id}_heatmap_control ul li a {
	color: #999;
	margin-right: 0px;
	border: 0px;
}

#@{heatmap_id}_heatmap_control ul li.active a {
	color: #555;
	border: 0px;
	background-color: #ddd;
}

#@{heatmap_id}_heatmap_control ul li.active a:hover {
	cursor: pointer;
}
